/node_modules
/public/css
/public/js
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vuexy-shell-scripts
codealike.json
_ide_helper.php
.phpstorm.meta.php
public/mix-manifest.json
storage/framework/laravel-excel
dist
.bitmap
storage/.DS_Store
app/Http/.DS_Store
.idea
.php_cs.cache
app/.DS_Store
.DS_Store
.DS_Store
public/.DS_Store
